body {
    background-color: #1A5276;
}

div {
    background-color: #A9CCE3;
    padding: 50px;
    margin: 20px;
    border: 10px double black;
}

h1 {
    color: #1A5276;
    font-family: 'Akronim', cursive;
    font-size: 3em;
}

p {
    line-height: 3;
}